@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


/* O ASTERISTICO ENGLOBA TODAS AS TAGS, NESSE CASO ESTÁ INFORMANDO QUE NO MEU SITE FICARÁ
COM 0PX DE MARGEM E DE PADDING */
*{
    margin: 0px;
    padding: 0px;
}



/*AQUI NÓS PODEMOS COLOCAR VARIÁVEIS NO CSS, LEMBRANDO QUE AS VARIÁVEIS PRECISAM COMEÇAR COM -- */
:root{

--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive; 
--fonte-android: 'android', cursive;

}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo:after{
    content: '\00A0\1F517';
}



header{
    background-color: var(--cor4);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px; /* Altura mínima */
    text-align: center;
}

header h1{
    color: white;
    font-family:var(--fonte-destaque);
    padding-top: 20px;
    margin-bottom: 15px;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
    
}

header p{
    color: white;
    font-family:var(--fonte-padrao);
    padding-bottom: 35px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    max-width: 500px;
    margin: auto;
}

nav{
    background-color: var(--cor5);
    padding: 15px;
    text-align: center;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.534);
}

nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px; 
    transition-duration: 0.5s; /*Faz uma caixa de transição quando passa o mouse em cima do link*/
}

nav a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}

/* O MIN-WIDTH E O MAX - ESTÃO AÍ PARA DEIXAR O SITE RESPONSIVO A TELAS DE 280PX A 1080PX  QUANDO SE USA O MAX E O MIN É NECESSÁRIO USAR O MARGIN AUTO PARA FICAR NO MEIO DA TELA*/
main{
    background-color: white;
    min-width: 280px;
    max-width: 1080px;
    margin: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    padding: 20px; 
    /*paddin aqui foi criado para dar um espaço lateral, para não deixar 
    o texto e as imagens coladas no background white*/
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 33px; /*Altura da linha, espaçamento entre as linhas*/
    font-size: 18px;
}

main img{
    width: 100%;
}

main strong{
    color: #1a5c37;
    font-weight:600;
}

main a{
    text-decoration: none;
    font-weight: 600;
    color: var(--cor5);
}

main a:hover{
    text-decoration: underline;
    color: #2fa866;
}

main h1{
    font-family: var(--fonte-android);
    color:var(--cor5);
}

main h2{
    font-family: var(--fonte-android);
    color:var(--cor5);
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor1), transparent); /*Faz um background do cor 1 até o transparente*/
}

div.video{
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 55.5%;
    position:relative;
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* FOI CRIADO UMA CLASS LÁ NA IMAGEM COM O NOME DE PEQUENA E PARA CENTRALIZAR A IMAGEM
USAMOS O DISPLAY BLOCK E O MARGIN AUTO, SÓ O MARGIN OU O DISPLAY SOZINHO NÃO FUNCIONA, USAMOS O WIDTH PARA DIMIUIR O TAMANHO DA IMAGEM ATRAVÉS DA % */

.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.384);
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside ul{
    list-style-type: '\2714\00A0\00A0'; /*2714 É O EMOJI E O 00A0 É O ESPAÇO ENTRE O EMOJI E A PRIMEIRA LETRA*/
    list-style-position: inside; /* Coloca a bolinha pra dentro da box*/
    columns: 2;  /* divide a lista em duas colunas*/
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}